version: "3.9"

services:
  app:
    build: .
    container_name: disaster-ai-app
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      LLM_ENDPOINT: "http://host.docker.internal:11434/api/generate"
      LLM_MODEL_NAME: "llama3:latest"
