.grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

textarea {
  field-sizing: content;
}

input[type="file"] {
  display: none;
}

.button{
  display: inline-block;
  background: #000;
  border-radius: 4px;
  font-family: "arial-black";
  font-size: 14px;
  color: #FFF;
  padding: 8px 12px;
  cursor: pointer;   
}